<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="dnm.logs"
      type="DotNetMigrations.Core.Provider.ConfigurableTypeSection, DotNetMigrations.Core" />
  </configSections>


  <appSettings>
  </appSettings>
  <connectionStrings>
<!--    <add name="testDb" connectionString="Data Source=.\SqlExpress;Initial Catalog=DotNetMigrationsTestDb;Integrated Security=SSPI"/>-->
  </connectionStrings>

  <dnm.logs>
    <parts>
      <part type="DotNetMigrations.UnitTests.Mocks.MockLog1, DotNetMigrations.UnitTests" />
    </parts>
  </dnm.logs>
</configuration>