<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dnm.logs" type="DotNetMigrations.Core.Provider.ConfigurableTypeSection, DotNetMigrations.Core" />
  </configSections>

  <appSettings>
    <!-- migrateFolder is the path to where your migration scripts are stored. -->
    <add key="migrateFolder" value=".\migrations\" />
    
    <!-- versionStrategy must be either 'utc_time', 'local_time', 'seq_num'.
         'utc_time' is recommended for most accurate versioning.  -->
    <add key="versionStrategy" value="utc_time" />
    
    <!-- pluginFolder is the path to where your DNM plugins are loaded from. -->
    <add key="pluginFolder" value=".\plugins\" />
      
    <!-- logFullErrors should be 'true' or 'false' whether
         you want the stack traces logged or just the messages.
         Default is 'false'. -->
    <add key="logFullErrors" value="false" />
  </appSettings>

  <connectionStrings>
    <!-- Connection strings added here can be referenced by name when running DNM commands. -->
  </connectionStrings>

  <dnm.logs>
    <parts>
      <part type="DotNetMigrations.Loggers.ConsoleLog, db" />
    </parts>
  </dnm.logs>

  <!--====================================================
  The below section is put into place to tell .Net to look
  for assembly references in the specified directory if
  it cannot find the assembly in the same directory as
  the executable. The directory should point to the same
  location as the pluginFolder value above so commands
  and logs don't have to be in diffeent places.
  ======================================================-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
        IMPORTANT!
        privatePath should match the value of the pluginFolder appSetting above.
        -->
      <probing privatePath="plugins;" />
    </assemblyBinding>
  </runtime>
</configuration>