<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dnm.logs" type="DotNetMigrations.Core.Provider.ConfigurableTypeSection, DotNetMigrations.Core" />
  </configSections>
  <appSettings>
    <add key="migrateFolder" value=".\Migrations\" />
    <add key="PlugInDirectory" value=".\PlugIns\"/>
  </appSettings>
  <connectionStrings>
    <add name="testDb" connectionString="Data Source=.\SqlExpress;Initial Catalog=TestDb; Integrated Security=SSPI" />
    <add name="testMigration" connectionString="Provider=System.Data.Sql;Data Source=.\SqlExpress;Initial Catalog=TestDb;Integrated Security=SSPI;" />
    <add name="testProviderless" connectionString="Data Source=.\SqlExpress;Initial Catalog=TestDb;Integrated Security=SSPI;" />
  </connectionStrings>
  <dnm.logs>
    <parts>
      <part type="DotNetMigrations.Logs.ConsoleLog, db" />
    </parts>
  </dnm.logs>

  <!--====================================================
  The below section is put into place to tell .Net to look
  for assembly references in the specified directory if
  it cannot find the assembly in an assembly in the same
  directory as the executable. The directory should point
  to the same location as the PlugInDirectoryValue value
  above so commands and logs don't have to be in different
  places.
  ======================================================-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PlugIns;" />
    </assemblyBinding>
  </runtime>
</configuration>