<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section
          name="dnm.logs"
          type="DotNetMigrations.Core.Provider.ConfigurableTypeSection, DotNetMigrations.Core" />
    </configSections>


    <appSettings>
        <add key="migrateFolder" value="c:\Migrations" />
    </appSettings>
    <connectionStrings>
        <add name="testDb" connectionString="Data Source=.\SqlExpress;Initial Catalog=TestDb; Integrated Security=SSPI"/>
        <add name="testMigration" connectionString="Provider=System.Data.Sql;Data Source=.\SqlExpress;Initial Catalog=TestDb;Integrated Security=SSPI;"/>
        <add name="testProviderless" connectionString="Data Source=.\SqlExpress;Initial Catalog=TestDb;Integrated Security=SSPI;"/>
    </connectionStrings>

    <dnm.logs>
        <parts>
            <part type="DotNetMigrations.UnitTests.MockLog1, DotNetMigrations.UnitTests" />
        </parts>
    </dnm.logs>
</configuration>